.issue {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 12px;
}

.issue-row {
    display: flex;
    flex: 1;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 4px 0;
}

.title {
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.issue-number {
    font-weight: 700;
    margin-left: 16px;
}

.text {
    /* margin-left: 4px; */
}

  
  